.input_field {
    border-radius: var(--border-radius);
    border: none;
    outline: none;
    padding: 0 32px 0 9px;
    box-shadow: var(--shadow);

    background-image: url(../../icons/search.svg);
    background-position-x: calc(100% - 9px);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-y: center;
}

.input_field::placeholder {
    font-size: 14px;
}

.search_icon {
    position: absolute;
    right: 9px;
    top: 5px;
}

@media screen and (min-width: 769px) {
    .input_field {
        width: 100%;
        height: 45px;
    }
}

@media screen and (max-width: 768px) {
    .input_field {
        position: absolute;
        top: 10px;
        left: 16px;
        height: 32px;
        width: calc(100% - 32px);
        z-index: 10;
    }

    .input_field::placeholder {
        font-size: 12px;
    }
}